rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // allow reading without auth for documents in scenarios collection
    match /scenarios/{scenarioId} {
      allow read: if true;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}